#raceMap{
    border-radius: 5px;
    background-color: darkslateblue;
    margin-top: 20px;
}
#raceMap img{
    padding: 50px;
    width: 250px;
}
#raceMap div{
    margin-top: 20px;
    margin-left: 13px;
}
#raceMap img{
    padding: 6px;
    width: 310px;
    background-color: rgb(48, 41, 97);
    border-radius: 10px;
}
#Map{
    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
}

#Map a{
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 5px;
}
#prov{
   display: none;
}
#Map div:hover  #prov{
    list-style: none;
    display: inline;
    color: aliceblue;
}

#Map div:hover {
    margin-top: 20px;
    transition: 0.5s;
    background-color: rgb(38, 27, 94);
    border-radius: 10px;

}
#Map div:hover  img {
    margin-top: -20px;
    margin-right: -42px;
    padding: 15px;
    margin-left: -30px;
    width: 360px;
    transition: 0.2s;
    background-color: rgb(29, 24, 69);
    border-radius: 10px;
}
#prov li{
    margin-left: 4px;
    padding: 5px;
}
#prov button{
    padding: 7px;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: red;
    cursor: pointer;
}
#prov button:hover{
    transition: 0.2s;
    background-color: #770909;
}

.PupUp{
    position: fixed;
    background-color:  rgb(29, 24, 69);
    top: 3%;
    left: 27.5%;
    border-radius: 5px;
    box-shadow: 17px 14px 10px rgba(0, 0, 0, 0.53);
}