#raceMap{
    border-radius: 5px;
    background-color: darkslateblue;
    margin-top: 20px;
}
#raceMap div{
    margin-top: 20px;
}
#raceMap img{
    width: 100%;
    background-color: rgb(48, 41, 97);
    border-radius: 10px;
}
#Map{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#Map a{
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 5px;
}
#prov{
   display: none;
}
#Map div:hover  #prov{
    list-style: none;
    display: inline;
    color: aliceblue;
}
#Map div{
    margin: 10px;
}

#Map div:hover {
    transition: 0.3s;
    background-color: rgb(38, 27, 94);
    border-radius: 10px;
}

#prov li{
    margin-left: 4px;
    padding: 5px;
}
#prov button{
    padding: 7px;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: red;
    cursor: pointer;
}
#prov button:hover{
    transition: 0.2s;
    background-color: #770909;
}

.PupUp{
    position: fixed;
    background-color:  rgb(29, 24, 69);
    top: 3%;
    left: 27.5%;
    border-radius: 5px;
    box-shadow: 17px 14px 10px rgba(0, 0, 0, 0.53);
}
@media (max-width: 1000px) {
    #Map{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    #raceMap img{
        width: 100%;
    }
}