.CAR-IMG img{
    width: 82%;
    margin-left: 10%;
}
.CP-D1 img{
    width: 82%;

}
.CP-D2 img{
    width: 82%;

}
.CP-Body{
    list-style: none;
    margin-top: -5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 10px 10px 100px -48px rgba(0, 0, 0, 0.69);
}
.CP-INFO{
    margin-top: 10px;
    background-color: #242424;
    border-radius: 5px;
    display: grid;
    grid-template-columns:auto auto auto auto auto auto 20% 20%;
    padding: 10px;
    text-align: center;
    box-shadow: inset 10px 10px 100px -48px rgba(0, 0, 0, 0.69);
}
.CP-INFO li{
    margin-top: 80px;
}
.CP-INFO li a{
    color: darkgrey;
    padding: 3px;
    border-radius: 5px;
    font-style: oblique;
}
